<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Progressive Web Apps is the future..
    </h1>
    <h2 class="subtitle">
      ..they told me
    </h2>

    <h2> So I built one using
      <a href="https://www.emberjs.com/"><strong>Ember</strong></a>,
      <a href="https://github.com/ef4/prember"><strong>Prember</strong></a> and
      <a href="https://bulma.io"><strong>Bulma</strong></a> for the styling. </h2>
  </div>
</div>
