<section class="hero is-dark is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            Static Ember PWA
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <div class="nav-item">
            {{#link-to 'index' activeClass="is-active"}}Home{{/link-to}}
          </div>
          <div class="nav-item">
            {{#link-to 'about' activeClass="is-active"}}About{{/link-to}}
          </div>
          <div class="nav-item">
            <a href="https://github.com" target="_blank" rel="noopener">Github Repo</a>
          </div>
        </div>
      </div>
    </header>
  </div>

  {{outlet}}

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot has-text-centered">
        Created by <i class="em em-heart"></i> by
        <a href="http://kollegorna.se/filippos"><strong>Filippos Vasilakis</strong></a>
        on <a href="https://www.emberjs.com/"><strong>Ember</strong></a>
        during <a href="https://www.kollegorna.se/en"><strong>Kollegorna</strong></a>'s
        Personal Development Days ritual.
  </div>
</section>
