<section class="hero is-dark is-fullheight">
  <!-- Hero header: will stick at the top -->

  {{navbar-menu}}

  {{#ember-notify closeAfter=50000 as |message close|}}
    <div class="notification is-primary">
      <button class="delete" {{action close}}></button>
      {{message.text}}
    </div>
  {{/ember-notify}}

  {{outlet}}

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot has-text-centered">
        Created by <i class="em em-heart"></i> by
        <a href="http://kollegorna.se/filippos"><strong>Filippos Vasilakis</strong></a>
        on <a href="https://www.emberjs.com/"><strong>Ember</strong></a>
        during <a href="https://www.kollegorna.se/en"><strong>Kollegorna</strong></a>'s
        Personal Development Days ritual.
  </div>
</section>
