<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      About
    </h1>
  </div>
</div>


    <div class="content">
      Technologies used behind this ditty:
      <ul>
        <li><a href="https://www.emberjs.com"><strong>Ember</strong></a></li>
        <li><a href="https://github.com/ef4/prember">Prember</a>
          (which uses <a href="https://ember-fastboot.com">Ember Fastboot</a>)</li>
        <li><a>Ember Fastboot</a></li>
        <li><a>Videos</a></li>
        <li><a>Documents</a></li>
      </ul>

      And some resources about PWAs in Ember:
      <ul>
        <li><a href="https://www.emberjs.com"><strong>Ember</strong></a></li>
        <li><a href="https://github.com/ef4/prember">Prember</a>
          (which uses <a href="https://ember-fastboot.com">Ember Fastboot</a>)</li>
        <li><a>Ember Fastboot</a></li>
        <li><a>Videos</a></li>
        <li><a>Documents</a></li>
      </ul>
    </div>
