<section class="content">
  <div class="columns is-mobile is-centered">
    <div class="column is-5 has-text-centered">
      <h2 class="subtitle">Technologies used behind this ditty</h2>
    </div>
  </div>
  <div class="columns is-mobile is-centered">
    <div class="column is-3">
      <div class="columns is-mobile is-centered">
        <div class="column is-5 has-text-centered">
          <p> Ember addons </p>
        </div>
      </div>
      <ul>
        <li><a href="https://www.emberjs.com"><strong>Ember</strong></a></li>
        <li><a href="https://github.com/ef4/prember"><strong>Prember</strong></a>
          (which uses <a href="https://ember-fastboot.com"><strong>Ember Fastboot</strong></a>)</li>
        <li><a href="https://bulma.io"><strong>Bulma</strong></a></li>
      </ul>

      <div class="columns is-mobile is-centered">
        <div class="column is-5 has-text-centered">
          <p> Blog posts </p>
        </div>
      </div>
      <ul>
        <li><a href="https://madhatted.com/2017/6/16/building-a-progressive-web-app-with-ember"><strong>Building a Progressive Web App with Ember</strong></a></li>
        <li><a href="https://dockyard.com/blog/2017/07/20/how-to-build-a-pwa-with-ember"><strong>How to build a Progressive Web App with Ember</strong></a></li>
      </ul>
    </div>
  </div>
</section>
